<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h2><%=msg%></h2>
<form action="/add" method="post">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="保存">
</form>
</body>
</html>