<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
<%- include public/header.ejs %>
<h2><%= msg %>STATIC</h2>
<form action="/add" method="post">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="保存">
</form>
</body>
</html>